html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 5vh;
	background-color: #4d5256;
	color: white;
}

#body1{
		background-image: url("survivor.jpg");
	background-repeat: repeat-y;
	background-position: center top;
	background-size: 100vw;
	margin-bottom: 60px;
}

#body2{
		background-image: url("survivor.jpg");
	background-repeat: repeat-y;
	background-position: center top;
	background-size: 100vw;
	margin-bottom: 60px;
}

	#body3{
	background-image: url("survivor2.jpg");
	background-repeat: repeat-y;
	background-position: center top;
	background-size: 100vw;
	margin-bottom: 60px;
}

#main {
	position: relative;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: table;
}

#content{
	display: table-row;
}

#main2{
	position: relative;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	
	display: table;
}

#content2{
	display: table-row;
}

#main3{
	position: relative;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	display: table;

}

#content3{
	display: table-row;
}

#main4{
	position: relative;
	width: 80vw;
	height: 120vh;
	margin: 0 auto;
	background-color: #22264b;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: table;
	margin-bottom: 0;

}

#content4{
	display: table-row;
}

#summary{
	position: relative;
	left: 28vw;
	top: -50vh;
	width: 50vw;
	font-size: 2vw;
}

#poemsummary{
	position: relative;
	width: 50vw;
	left: 12.5vw;
	font-size: 1.5vw;
}

.essay{
	margin: 10px;
	opacity: 0.4;
	background-color: black;
	position: relative;
	width: 60vw;
	font-size: 1.5vw;
	top: -49vh;
	left: 10vw;
}

#essay-title{
text-align: center;
}

.paragraph{
	text-indent: 50px;
}


.poster{
	position: relative;
	left: 10.5vw;
}

.summary{
	position: relative;
	left: 12vw;
	top: -50vh;
}

#title {
	text-align: center;
	font-size: 5vw;
	letter-spacing: 5px;
}

#video{
	text-align: center;
}

body{
	/*Background CSS   */
	background-image: url("survivor.jpg");
	background-repeat: static;
    background-attachment: fixed;
	background-position: center top;
	background-size: 100vw;
	margin-bottom: 60px;
}










/*NAVBAR STUFF*/
/*NAVBAR STUFF*/
/*NAVBAR STUFF*/
/*NAVBAR STUFF*/
/*NAVBAR STUFF*/
.navbar-default {
	background-color: #55585d;
	border-color: #4d5256;
}
.navbar-default .navbar-brand {
	color: #a7b0bf;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e9e9e9;
}
.navbar-default .navbar-text {
	color: #a7b0bf;
}
.navbar-default .navbar-nav > li > a {
	color: #a7b0bf;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e9e9e9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e9e9e9;
	background-color: #4d5256;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e9e9e9;
	background-color: #4d5256;
}
.navbar-default .navbar-toggle {
	border-color: #4d5256;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #4d5256;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #a7b0bf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #a7b0bf;
}
.navbar-default .navbar-link {
	color: #a7b0bf;
}
.navbar-default .navbar-link:hover {
	color: #e9e9e9;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #a7b0bf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #e9e9e9;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e9e9e9;
		background-color: #4d5256;
	}
}